 <html>
    <head>
         <title>Ejemplo</title>
    </head>
    <body>
        <div>
                <h1><a href="">Pagina con DJANGO</a></h1>
        </div>

        <div>
            <p>publicado: 14.05.2016, 12:14</p>
            <h2><a href="">Primer Post</a></h2>
            <p>Ejemplo de Django uso de vistas en web</p>
        </div>

        <div>
            <p>publicado: 14.05.2016, 12:14</p>
            <h2><a href="">Segundo post</a></h2>
            <p>Esta es una pagina creada usando Django, haciendo uso de las vistas.</p>
        </div>
    </body>
</html>